body { font-family: Arial; margin: 20px;text-align: center;background-color: black; }
form input, form button { margin: 5px 0; display: block; padding: 8px; width: 300px; }
table { border-collapse: collapse; width: 100%; }
th, td { border: 1px solid #ccc; padding: 8px; }
